/README.html
/study/browser-sync/node_modules
/Nodejs.html
/Gulp.html
/study/gulp/node_modules
/node_modules
/study/gulp/dist
/study/gulp/build
/study/gulp-total/node_modules
/study/gulp-total/dist
/study/MvcService/MvcService/bin
/study/MvcService/MvcService/obj
/study/angularjs/node_modules
/Angularjs.html
/study/webpack/node_modules
/study/webpack/dist
/study/angularjs/myapp/dist
/study/MvcService/MvcService/upload
