<!DOCTYPE html>
<html>
  <head>
    <title>angular初始化</title>
  </head>
  <body>
    <!-- 将页面中元素和RootCtrl绑定 -->
    <div ng-controller="RootCtrl">
      显示计数器：<span ng-bind="count"></span><button type="button" ng-click="add()">计数增加</button>
    </div>
    <div ng-controller="RootCtrl">
      显示计数器：<span ng-bind="count"></span><button type="button" ng-click="add()">计数增加</button>
    </div>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="init.js"></script>
  </body>
</html>