<div class="jumbotron" ng-controller="WelcomeCtrl">
  <div class="h1">
    欢迎使用angularjs路由{{action}}
  </div>
  <div class="text-center h3">
    Cookie变量:<input type="text" ng-model="cookieValue">
    <span class="btn btn-primary" ng-click="saveCookie()">保存</span>
    <span class="btn btn-primary" ng-click="removeCookie()">清除</span>
  </div>
  <div class="text-center h3">
    h5本地储存变量:<input type="text" ng-model="localValue">
    <span class="btn btn-primary" ng-click="saveLocal()">保存</span>
    <span class="btn btn-primary" ng-click="removeLocal()">清除</span>
  </div>
</div>